autopep8==1.6.0
backports.entry-points-selectable==1.1.0
cement==2.6.2
certifi==2021.5.30
charset-normalizer==2.0.12
distlib==0.3.3
django-environ==0.8.1
filelock==3.2.0
idna==3.3
numpy==1.22.1
Pillow==9.0.0
pipenv==2021.5.29
platformdirs==2.4.0
psycopg2-binary==2.9.3
pycodestyle==2.8.0
pygame==2.1.2
pystache==0.6.0
requests==2.27.1
six==1.16.0
toml==0.10.2
torch==1.10.1
torchaudio==0.10.1
torchvision==0.11.2
typing_extensions==4.0.1
urllib3==1.26.9
virtualenv==20.8.1
virtualenv-clone==0.5.7
